<div class="container" *ngIf="pedido.listaProductos">
    <div>
      <div class="row">
        <div class="col-sm-12">
            <app-header-pedidos [pedido]=pedido [titulo]=titulo></app-header-pedidos>
            <app-card>
            <div id="acordionProductos">
              <div class="card" *ngFor='let c of pedido.listaProductos; let i=index'>
                <!--header fila-->
                <div id="header{{i}}">
                  <h3>{{c.descProducto}}<br>
                    [{{c.descTipoProducto}}]
                    / Tallas: [{{c.descRangoPrecio}}]</h3>
                </div>
                <!--detalle fila-->
                <div id="fila{{i}}">
                  <form #detallePedidoForm='ngForm' class='form-inline'>
                    <table class="form-table-bordered">
                      <thead>
                        <tr>
                          <td>#</td>
                          <td>Numero jugador</td>
                          <td>Nombre pecho</td>
                          <td>Nombre espalda</td>
                          <td>
                            <span *ngIf="modulo != 'corte'; else colTerminado">Corte</span>
                          </td>
                          <td>
                            <span *ngIf="modulo != 'diseno'; else colTerminado">Diseño</span>
                          </td>
                          <td>
                            <span *ngIf="modulo != 'estampado'; else colTerminado">Estampado</span>
                          </td>
                          <td>
                            <span *ngIf="modulo != 'confeccion'; else colTerminado">Confeccion</span>
                          </td>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor='let d of c.listaDetalleTallas; let ii=index'>
                          <td style="width:10px;">{{ ii+1 }}
                          </td>
        <!--NUMERO JUGADOR-->
                          <td style="width:90px;">
                            {{d.numero}}
                          </td>
        <!--NOMBRE PECHO-->
                          <td style="width:140px;">
                            {{d.nombrePecho}}
                          </td>
        <!--NOMBRE ESPALDA-->
                          <td style="width:140px;">
                            {{d.nombreEspalda}}
                          </td>
                          <td>
<!--CORTE-->
                            <span class="text center" *ngIf="modulo === 'corte'; else colAvanceCorte">
                              <div class="btn-group btn-group-toggle"
                                ngbRadioGroup name='terminadoCorte{ii}}' [(ngModel)]='d.terminadoCorte'>
                                <label ngbButtonLabel class="btn btn-outline-primary btn-sm">
                                  <input ngbButton type="radio" [value]='0'>NO
                                </label>
                                <label ngbButtonLabel class="btn btn-outline-primary btn-sm">
                                  <input ngbButton type="radio" [value]='1'>SI
                                </label>
                              </div>
                              <button type="button" class="btn btn-danger btn-sm"
                              (click)="$event.stopPropagation();">Notificar</button>
                            </span>
                            <ng-template #colAvanceCorte>
                             <label *ngIf='d.terminadoCorte==0'>-</label>
                             <label *ngIf='d.terminadoCorte==1'>Si</label>
                            </ng-template>
                          </td>
                          <td>
<!--DISEÑO-->
                            <span class="text center" *ngIf="modulo === 'diseno'; else colAvanceDiseno">
                                <div class="btn-group btn-group-toggle"
                                  ngbRadioGroup name='terminadoDiseno{ii}}' [(ngModel)]='d.terminadoDiseno'>
                                  <label ngbButtonLabel class="btn btn-outline-primary btn-sm">
                                    <input ngbButton type="radio" [value]="0">NO
                                  </label>
                                  <label ngbButtonLabel class="btn btn-outline-primary btn-sm">
                                    <input ngbButton type="radio" [value]="1">SI
                                  </label>
                                </div>
                                <button type="button" class="btn btn-danger btn-sm"
                                (click)="$event.stopPropagation();">Notificar</button>
                              </span>
                              <ng-template #colAvanceDiseno>
                                <label *ngIf='d.terminadoDiseno==0'>-</label>
                                <label *ngIf='d.terminadoDiseno==1'>Si</label>
                              </ng-template>
                            </td>
<!--ESTAMPADO-->
                            <td>
                              <span class="text center" *ngIf="modulo === 'estampado'; else colAvanceEstampado">
                                <div class="btn-group btn-group-toggle"
                                  ngbRadioGroup name='terminadoEstampado{ii}}' [(ngModel)]='d.terminadoEstampado'>
                                  <label ngbButtonLabel class="btn btn-outline-primary btn-sm">
                                    <input ngbButton type="radio" [value]="0">NO
                                  </label>
                                  <label ngbButtonLabel class="btn btn-outline-primary btn-sm">
                                    <input ngbButton type="radio" [value]="1">SI
                                  </label>
                                </div>
                                <button type="button" class="btn btn-danger btn-sm"
                                (click)="$event.stopPropagation();">Notificar</button>
                              </span>
                              <ng-template #colAvanceEstampado>
                                <label *ngIf='d.terminadoEstampado==0'>-</label>
                                <label *ngIf='d.terminadoEstampado==1'>Si</label>
                              </ng-template>
                          </td>
<!--ESTAMPADO-->
                          <td>
                            <span class="text center" *ngIf="modulo === 'confeccion'; else colAvanceConfeccion">
                              <div class="btn-group btn-group-toggle"
                                ngbRadioGroup name='terminadoConfeccion{ii}}' [(ngModel)]='d.terminadoConfeccion'>
                                <label ngbButtonLabel class="btn btn-outline-primary btn-sm">
                                  <input ngbButton type="radio" [value]="0">NO
                                </label>
                                <label ngbButtonLabel class="btn btn-outline-primary btn-sm">
                                  <input ngbButton type="radio" [value]="1">SI
                                </label>
                              </div>
                              <button type="button" class="btn btn-danger btn-sm"
                              (click)="$event.stopPropagation();">Notificar</button>
                            </span>
                            <ng-template #colAvanceConfeccion>
                              <label *ngIf='d.terminadoConfeccion==0'>-</label>
                              <label *ngIf='d.terminadoConfeccion==1'>Si</label>
                          </ng-template>
                          </td>
                        </tr>
                      </tbody>
                    </table>
              <!-- {{detallePedido | json}} -->
                  </form>
                </div>
              </div>
            </div>
          </app-card>
        </div>
      </div>
    </div>
  </div>
  <div class='form-group'>
    <a class="btn btn-primary" (click)='goBack();'>Cancelar</a>
    <button (click)='guardarPedido();' class='btn btn-primary'>Guardar</button>
  </div>
<!-- {{pedido|json}} -->
<ng-template #colTerminado>
    Terminado?
  </ng-template>
{{pedido | json }}
