<app-card *ngIf="verForm==true">
  <!--<form class="form-horizontal">-->
    <form (ngSubmit)="onSubmit(cliente);" #clienteForm="ngForm" class="form-horizontal">
    <div class="form-group row">
      <div class="col-sm-3">
        <h2>{{tipoForm}} Cliente</h2>
      </div>
    <app-card>
      <h4>Datos Cliente</h4>
      <div class="form-group row">
        <div class="col-sm-2">
          <label>Rut</label>
          <input type="text" class="form-control" [(ngModel)]="cliente.rutCliente" name="rutCliente" required>
        </div>
        <div class="col-sm-4">
          <label>Razón social</label>
          <input type="text" class="form-control" [(ngModel)]="cliente.razonSocialCliente" name="razonSocialCliente">
        </div>
        <div class="col-sm-4">
          <label>Nombres</label>
          <input type="text" class="form-control" [(ngModel)]="cliente.nombresCliente" name="nombresCliente">
        </div>
        <div class="col-sm-4">
          <label>Ap. paterno</label>
          <input type="text" class="form-control" [(ngModel)]="cliente.apellidoPaternoCliente" name="apellidoPaternoCliente">
        </div>
        <div class="col-sm-4">
          <label>Ap. Materno</label>
          <input type="text" class="form-control" [(ngModel)]="cliente.apellidoMaternoCliente" name="apellidoMaternoCliente">
        </div>
        <div class="col-sm-4">
          <label>Email</label>
          <input type="text" class="form-control" [(ngModel)]="cliente.emailCliente" name="emailCliente">
        </div>
        <div class="col-sm-4">
          <label>Direccion</label>
          <input type="text" class="form-control" [(ngModel)]="cliente.direccionCliente" name="direccionCliente">
        </div>
        <div class="col-sm-2">
          <label>Comuna</label>
          <input type="text" class="form-control" [(ngModel)]="cliente.comunaCliente" name="comunaCliente">
        </div>
        <div class="col-sm-2">
          <label>Telefono</label>
          <input type="text" class="form-control" [(ngModel)]="cliente.fonoCliente" name="fonoCliente">
        </div>
      </div>
    </app-card>
  </div>
  <div class="form-group">
    <button (click)='emiteVolver()' type='reset' class='btn btn-default'>Cancelar</button>
    <button (click)='guardarCliente();' class='btn btn-primary'>Crear</button>
  </div>
  </form>
  {{cliente|json}}
</app-card>
