<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h6>Tipo de Producto:</h6>
      <app-card [title]=tipoProducto.desc [classHeader]="false" [blockClass]="'table-border-style'">
        <div class="container">
          <div class="row">
            <button (click)="nuevo()" class="btn btn-primary btn-sm">Nuevo</button>
            <button *ngIf="tipoProducto.desc!=null" (click)="verformProducto=true;" class="btn btn-primary btn-sm">Editar</button>
            <form *ngIf="verformProducto==true">
              <div>
                <input type='text' class='form-control' name='descripcionTipoProducto' [(ngModel)]='tipoProducto.desc'
                  placeholder='Descripción Tipo Producto'>
              </div>
              <div class="col-sm">
                <select class='form-control' name='estado' *ngIf="!addProducto" [(ngModel)]='tipoProducto.estado'>
                  <option [value]="'activo'">Activo</option>
                  <option [value]="'inactivo'">Inactivo</option>
                </select>
                <button type="button" (click)="cancelar()" class="btn btn-warn btn-sm">Cancelar</button>
                <button type="button" (click)="guardar()" class="btn btn-primary btn-sm">Guardar</button>
              </div>
            </form>
          </div>
        </div>
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Descripcion</th>
              <th>Estado</th>
              <!-- <th>Opciones</th> -->
            </tr>
          </thead>
          <tbody *ngFor="let producto of listaTipoProducto | paginate: { itemsPerPage: 5, currentPage: p,
            totalItems: total };let i = index">
            <tr (click)="verTipoProducto(producto);">
              <td>{{i+1}}</td>
              <td>{{producto.desc}} ({{ producto.rangoPrecio.length}})</td>
              <td>{{producto.estado}}</td>
              <!--             <td>
            <button type="button" class="btn btn-primary"
            (click)='addProductos(producto._id);$event.stopPropagation();'>
              Agregar Productos
            </button>
          </td> -->
            </tr>
          </tbody>
        </table>
        <pagination-controls
          previousLabel="Atrás"
          nextLabel="Siguiente"
          (pageChange)="p = $event">
        </pagination-controls>

      </app-card>
    </div>
    <div class="col-md-6">
    <app-form-rango-precio (emite)="updateTipoProducto($event)" [tipoProducto]=tipoProducto></app-form-rango-precio>
    </div>
  </div>
</div>
