<div class="row" *ngIf="verLista">
  <div class="col-sm-12">
    <app-card>
      <a class="btn btn-primary" (click)="nuevo()" routerLinkActive="active">Nuevo Cliente</a>
    </app-card>
  </div>
</div>

<!-- Formulario  -->
<div class="container">
  <app-form-cliente [verForm]="verForm" [tipoForm]="tipoForm" [cliente]="cliente" (salir)="volver($event)"></app-form-cliente>
</div>

<!-- Lista  -->
<div class="row" *ngIf="verLista">
  <div class="col-sm-12">
    <app-card [classHeader]="false" [blockClass]="'table-border-style'">
      <div class="table-responsive">
        <table *ngIf="listaClientes" class="table table-hover">
          <thead>
            <tr>
              <th>#</th>
              <th>Rut </th>
              <th>Razón Social</th>
              <th>Nombre</th>
              <th>Estado</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody *ngFor="let cliente of listaClientes">
            <tr (click)="editarCliente(cliente)">
              <td></td>
              <td>{{cliente.rutCliente}}</td>
              <td>{{cliente.razonSocialCliente}}</td>
              <td>{{cliente.apellidoPaternoCliente + ' ' + cliente.apellidoMaternoCliente + ' ' + cliente.nombresCliente}}</td>
              <td>{{cliente.estadoCliente}}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
    <!-- Background Utilities table end -->
  </div>
</div>
