<div class="row" *ngIf='verListaPedidos'>
  <div class="col-sm-12">
    <app-card>
      <a class="btn btn-primary" (click)="nuevo()" routerLinkActive="active">Nuevo Pedido</a>
    </app-card>
  </div>
</div>

<!-- Formulario  -->
<div class="container">
  <app-form-pedido
  [verForm]="verForm"
  [tipoForm]="tipoForm"
  [pedido]="pedido"
  (salir)="volver($event)"></app-form-pedido>
</div>

<!-- Lista  -->
<div class="row" *ngIf='verListaPedidos'>
  <div class="col-sm-12">
    <app-card [title]="'Pedidos'" [classHeader]="false" [blockClass]="'table-border-style'">
      <div class="table-responsive">
        <table class="table">
          <thead>
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Fecha pedido</th>
            <th>Fecha Entrega</th>
            <th>Monto Total</th>
          </tr>
          </thead>
          <tbody *ngFor="let pedido of listaPedidos">
            <tr (click)="editarPedido(pedido)">
              <td></td>
              <td>{{pedido.rutCliente}}</td>
              <td>{{cliente.razonSocialCliente}}</td>
              <td></td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>

