<div *ngIf="mensaje" class="alert alert-success" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  {{mensaje}}
</div>

<div class="row">
  <div class="col-sm-12">
      <a class="btn btn-primary" [routerLink]="['/pedidos/formPedido', 'nuevo']">NUEVO</a>
  </div>
</div>

<!-- Lista  -->
<div class="row">
  <div class="col-sm-12">
    <app-card>
      <h4>Filtros de busqueda</h4>
      <form
          #encabezadoPedidoForm='ngForm'
          class='form-inline'
          (ngSubmit)='submitBuscador();'>
        <div class='form-group form-inline'>
          Palabra clave:
          <input type='text' size="20" class='form-control' name='query' [(ngModel)]='query'>

          Estado
          <select
            class='form-control'
            [(ngModel)]='estado'
            name='estado'
          >
            <option *ngFor='let c of listaEstadosPedido' [value]='c'>{{c}}</option>
          </select>
          <div class="form-check">
            <input type="checkbox" class="form-check-input"
            [(ngModel)]='checkSaldoPendiente'
            name="checkSaldoPendiente">
            <label class="form-check-label" for="exampleCheck1">Pagos Pendientes</label>
          </div>

           <br>
          Fecha Desde
          <input class='form-control'
            name='fechaDesde'
            size='3'
            type="date"
            [ngModel]="fechaDesde | date:'yyyy-MM-dd'"
            (ngModelChange)="fechaDesde = $event"
            placeholder="Fecha desde"
          >
          Fecha Hasta
          <input class='form-control'
            name='fechaHasta'
            size='3'
            type="date"
            [ngModel]="fechaHasta | date:'yyyy-MM-dd'"
            (ngModelChange)="fechaHasta = $event"
            placeholder="Fecha Hasta"
          >

          <button type="submit" class="btn btn-success">Buscar</button>
          <button type="reset" class="btn btn-success">Limpiar</button>
        </div>
      </form>
    </app-card>

    <app-card [title]="'Pedidos'" [classHeader]="false" [blockClass]="'table-border-style'">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th>Nombre Cliente</th>
            <th>Fecha pedido</th>
            <th>Fecha Entrega</th>
            <th>Monto Total</th>
            <th>Saldo pdte.</th>
            <th>Estado</th>
            <th>Opciones</th>
          </tr>
          </thead>
          <tbody *ngFor="let pedido of listaPedidos;let i = index">
            <tr>
              <td (click)="editarPedido(pedido)">{{pedido.numeroPedido}}</td>
              <td (click)="editarPedido(pedido)">{{pedido.cliente.nombresCliente}}</td>
              <td (click)="editarPedido(pedido)">{{pedido.fechaCreacion | date: 'dd/MM/yyyy'}}</td>
              <td (click)="editarPedido(pedido)">{{pedido.fechaEntrega | date: 'dd/MM/yyyy'}}</td>
              <td (click)="editarPedido(pedido)">${{pedido.total}}</td>
              <td (click)="editarPedido(pedido)">${{pedido.totalPagoPendiente}}</td>
              <td (click)="editarPedido(pedido)">{{pedido.estado}}</td>
              <td>
                <button type="button" class="btn btn-danger btn-sm"
                (click)="addTallas(pedido); $event.stopPropagation();">Tallas</button>
                <button type="button" class="btn btn-danger btn-sm"
                (click)="addFichaTecnica(pedido); $event.stopPropagation();">Ficha tecnica</button>
<!--BORRAR PEDIDO-->
                <button type="button" (click)='eliminaPedido(pedido);$event.stopPropagation();'>
                  <i class="icofont icofont-trash"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </app-card>
  </div>
</div>

