<div class="form-group row">
<!--     <form ref='uploadForm'
    id='uploadForm'
    action='http://localhost:3000/upload'
    method='post'
    (change)="subirImagen($event.target.files)"

    encType="multipart/form-data">
      <input type="file" name="sampleFile" />
      <input type='submit' value='Upload!' />
  </form>
  <!--(change)="subirImagen($event.target.files[0])">-->

  <form #myForm="ngForm" method="POST" enctype="multipart/form-data" (ngSubmit)="subirImagen();">
    <label class="col-5 col-form-label">Seleccione imagen</label>
    <input type='text' class='form-control' name="titulo" [(ngModel)]="titulo" placeholder="Título imagen">
    <input type="file" name="archivo" [(ngModel)]='archivo' (change)="getFiles($event)">
    <input type='submit' value='Subir imagen'>
  </form>
</div>
