<div class="form-group row">
<!--     <form ref='uploadForm'
    id='uploadForm'
    action='http://localhost:3000/upload'
    method='post'
    (change)="subirImagen($event.target.files)"

    encType="multipart/form-data">
      <input type="file" name="sampleFile" />
      <input type='submit' value='Upload!' />
  </form>
 -->
  <form method="POST"
  enctype="multipart/form-data"
  name="form">
    <label class="col-2 col-form-label">Seleccione imagen weon</label>
    <input type="file"
      class="col-6"
      name='file'
      (change)="subirImagen($event.target.files[0])">
    </form>
</div>
